name: CI Checks

on:
  pull_request:
    types: [opened, synchronize]
    branches:
      - main
  push:
    branches:
      - main
    paths-ignore:
      - "*.md"

jobs:

  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      # - uses: taiki-e/checkout-action@v1
      - uses: actions/checkout@v4
      - uses: Boshen/setup-rust@main
        with:
          components: rustfmt
          restore-cache: false
      - run: cargo fmt --all -- --check

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      # - uses: taiki-e/checkout-action@v1
      - uses: actions/checkout@v4
      - uses: Boshen/setup-rust@main
        with:
          cache-key: warm
          components: clippy
          tools: taplo-cli
      - run: taplo lint
      - run: cargo clippy -- -D warnings

  doc:
    name: Doc
    runs-on: ubuntu-latest
    steps:
      # - uses: taiki-e/checkout-action@v1
      - uses: actions/checkout@v4
      - uses: Boshen/setup-rust@main
        with:
          cache-key: warm
          components: rust-docs
      - run: RUSTDOCFLAGS='-D warnings' cargo doc --no-deps --document-private-items

  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      RUST_BACKTRACE: 1
      CARGO_INCREMENTAL: 0
    steps:
      # - uses: taiki-e/checkout-action@v1
      - uses: actions/checkout@v4
      - uses: Boshen/setup-rust@main
        with:
          cache-key: warm
          save-cache: ${{ github.ref_name == 'main' }}
      - run: cargo check
      - run: cargo test



